* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
    z-index: 2;
}

body {
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 100%;
    background-color: rgb(255, 227, 191);

}

header {
    width: 100%;
    background-color: rgb(255, 227, 191);
    display: grid;
    grid-template-rows: 8vh 14vh;
    grid-template-areas: 
    "he . bu"
    "bo bo bo";
    text-align: center;
}

header > a {
    height: 100%;
    grid-area: he;
    margin-left: 20px;
}

#bookUs {
    margin-left: 6%;
    width: 88%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: rgb(255, 227, 191);
    grid-area: bo;
    margin-top: 45px;
    margin-bottom: 5px;
    font-size: 1.5rem;
    font-family: 'Inconsolata', monospace;
    font-weight: bolder;
    border-radius: 10px;
    cursor: pointer;
}

nav {
    align-items: center;
    justify-content: flex-end;
    grid-area: bu;
}

#nav_links {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    background-color: rgb(243, 211, 169);
    position: absolute;
    top: -100%;
    width: 100%;
    align-items: center;
    list-style: none;
    transition: all 0.5s;
    z-index: 3;
}

.nav_active {
    transform: translate(0, 100%);
}

a {
    display: flex;
    font-family: 'Inconsolata', monospace;
    text-decoration: none;
    color: black;
    letter-spacing: 0.1875rem;
    font-weight: bold;
    font-size: 1.8rem;
    text-transform: uppercase;
    justify-content: center;
    align-items: center; 
}  

#nav_links a:hover {
    background-color: burlywood;
    transition: ease 0.3s;
}

.burger_line {
    background-color: black;
    width: 28px;
    height: 3.5px;
    margin: 3px;
    border-radius: 10%;
    transition: all 0.5s;
}

#burger {
    margin-right: 15px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    z-index: 4;
    margin-bottom: -25px;
}

.crossed_line #line_2 {
    opacity: 0;
}

.crossed_line #line_1 {
    transform: rotate(-45deg) translate(-6px, 6px);
}

.crossed_line #line_3 {
    transform: rotate(45deg) translate(-7px, -7px);
}

#main_container {
    background-color: rgb(255, 227, 191);
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 0;
}

.logo {
    margin-top: 60px;
    margin-bottom: 40px;
}

h1 {
    font-size: 2rem;
    margin-bottom: 5px;
    font-family: 'Inconsolata', monospace;
}

p {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.75rem;
    margin-left: 20px;
    margin-right: 20px;
    word-spacing: 1px;
    letter-spacing: 1px;
}

.articleContainer {
    width: 100%;
    margin-top: 70px;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    background-color: rgb(238, 114, 137);
}

#mainLogo {
    margin-top: 20px;
    height: 120%;
    margin-bottom: 40px;
}

#footerLogo {

    width: 60%;
    margin-top: 20px;
}

.mainLogo {
    width: 75%;
}

article {
    background-color: black;
    border-radius: 10px;
    width: 90vw;
    height: 60vw;
    margin: 20px;
    display: flex;
    z-index: 2;
    flex-direction: column;
    justify-content: flex-start;
}

article > a {
    position: relative;
    top: 5px;
    left: 10px;
    width: 100px;
    color: rgb(255, 227, 191);
    letter-spacing: -0.5px;
    font-size: 0.85rem;
    font-family: 'Inconsolata', monospace;
}

article > img {
    position: relative;
    left: 3px;
    top: 8px;
    border-radius:8px;
    width: 97.5%; 
    height: 84.7%;
}


#namesContainer {
    background-color: rgb(238, 114, 137);
    text-align: center;
    position: relative;
    width: 100%;
}

#portraits {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    "n1 n2"
    "n3 n4"
    "n5 n6"
    ;
}

#name1 {
    grid-area: n1;
}

#name2 {
    grid-area: n2;
}

#name3 {
    grid-area: n3;
}

#name4 {
    grid-area: n4;
}

#name5 {
    grid-area: n5;
}

#name6 {
    grid-area: n6;
}

.nameBox > h3 {
    margin-top: 10px;
    background-color: rgb(238, 114, 137);
    width: 100px;
}

.nameBox > h3:hover {
    background-color: rgb(192, 72, 94);
    transition: ease 0.4s;
}

.nameBox{
    flex-direction: column;
    margin-bottom: 60px;
}

.portrait {
    width: 40vw;
}

#namesContainer > h2 {
    font-size: 2rem;
    margin-top: 60px;
    margin-bottom:50px;
}

#namesContainer > h3 {
    display: none;
    position: absolute;
    font-family: 'Inconsolata', monospace;
    left: 7vw;
    font-size: 120%;
    height: 70vw;
    text-align: center;
    writing-mode: vertical-lr;
    text-orientation: upright;
}

footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(255, 227, 191);
    width: 100%;
}

footer > h2 {
    width: 100px;
    margin: 10px;
    text-align: center;
}

footer > p {
    text-align: center;
}

footer > h1 {
    margin-top: 40px;
}

#bookUsText {
    display: flex;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 70%;
    background-color: black;
    color: rgb(255, 227, 191);
    margin-top: 60px;
    font-size: 1.5rem;
    font-family: 'Inconsolata', monospace;
        font-weight: bolder;
    border-radius: 10px;

}

#mediaLinks {
    margin-top: 20px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#spotify {
    height: 60px;
}

#soundcloud {
    height: 62px;
}

#insta {
    height: 60px;
}

#mail {
    height: 60px;
}

.mediaIcon {
    cursor: pointer;
}

#right {
    text-align: right;
    margin-right: 10vw;
}

#rightLess {
    text-align: right;
    margin-right: 15vw;
}

.center {
    text-align: center;
    margin-top: 55px;
}

#releasesText {
    margin-top: 70px;
}

article > h3 {
    cursor: pointer;
    position: relative;
    top: 5px;
    left: 10px;
    color: rgb(255, 227, 191);
    letter-spacing: -0.5px;
    font-size: 3.7vw;
    font-family: 'Inconsolata', monospace;
}

h3 {
    font-size: 1.3rem;
    font-family: 'Inconsolata', monospace;
}

footer > h3 {
    margin-top: 5px;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
}



.noMargin {
    margin-top: 0px;
}

#center {
    text-align: center;
    margin-left: 0;
}

.shiftRight {
    margin-left: 10vw;
}

#shiftRightExtra {
    margin-left: 15vw;
}

li {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.galleryImg {
    margin-top: 9%;
    width: 75vw;
    height: 90%;
}

.textContainer {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    height: 100%;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    background-color: transparent;
}

.textContainer > img {
    width: 80vw;
    margin: 60px;
    margin-bottom: 30px;
}

.textContainer > p {
    margin-top: 30px;
    margin-bottom: 30px;
}

.textContainer:hover {
    background-color: burlywood;
    transition: ease 0.8s;
}

h2 {
    font-family: 'Inconsolata', monospace;
    margin: 10px;
    font-size: 2rem;
}

.black {
    background-color: rgb(29, 29, 29);
}



@media screen and (min-width: 1000px) {
    p {
        font-size: 1rem;
    }

    #mediaLinks {
        width: 60%;
    }

    header > a {
        font-size: 2.8vw;
        margin-left: 10px;
        margin-right: 20px;
    }

    header > h2 {
        font-size: 1.55rem;
        margin-left: 10px;
        margin-top: 0px;
    }
    .burger_line {
        display: none;
    }

    #burger {
        display: none;
    }

    header {
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .articleContainer {
        flex-direction: row;
        height: 45vw;        
        margin-top: 60px;
    }
    article {
        margin-top: 20px;
        width: 40vw;
        height: 30vw;
    }

    .galleryImg {
        margin-top: 9%;
        width: 30vw;
        height: 90%;
    }

    #namesContainer > h3 {
        display: block;
    }

    #nav_links {
        width: 60%;
        position: initial;
        text-align: center;
        height: 100%;
        flex-direction: row;
        justify-content: flex-end;
        background-color: transparent;
    }


    li > a {
        font-size: 1.2rem;
        margin-right: 35px;
        position: relative;
        top: 50%;
    }
    #bookUs {
        margin-bottom: 50px;
        margin-left: 0;
        margin-right: 20px;
        height: 60px;
        font-size: 1.3rem;
        width: 300px;
        text-align: end;
    }
    .portrait {
        width: 20vw;
        height: 20vw;
    }

    article > h3 {
        font-size: 2rem;
    }

    .textContainer {
        flex-direction: row;
    }

    .textContainer > img {
        height: 20vw;
        margin: 20px;
    }

    #mainLogo {
        margin-bottom: 5vw;
        width: 30vw;
    }

    #right {
        text-align: right;
        margin-right: 20vw;
    }
    
    #rightLess {
        text-align: right;
        margin-right: 25vw;
    }

  }

.galleryHeight {
    height: 35vw;
}